@font-face {
    font-family: "Helvetica-Medium";
    src: url("../font/helvetica-neue-5/HelveticaNeueMedium.otf");
}

@font-face {
    font-family: "Nixie";
    src: url("../font/Nixie_One/NixieOne-Regular.ttf");
}

@font-face {
    font-family: "Alegreya-Reg";
    src: url("../font/Alegreya_SC/AlegreyaSC-Regular.ttf");
}

@font-face {
    font-family: "Alegreya-bold";
    src: url("../font/Alegreya_SC/AlegreyaSC-Bold.ttf");
}

@font-face {
    font-family: "Alegreya-black";
    src: url("../font/Alegreya_SC/AlegreyaSC-Black.ttf");
}

/* ********** Allgemeine Styles *********** */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

/* ********** Allgemeine Styles *********** */
.paralax{

}

.transparenz{
    background-color: rgba(0, 0, 0, 0.14);
    margin: 50px;
    padding: 30px;
}


/* ********** Allgemeine Styles FONTS *********** */

p{
/*     color: #6A6A6A; */
    font-family: "Helvetica-Medium";
}

a{
    text-decoration: none;
    color: #4DA7CA;
}

h2{
/*     color: #3A4F52; */


}

h3{
/*     color: #3A4F52; */

}

h4{
    color: white;

}

/* ********** Button Styles allgemein *********** */

button{
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0);
    font-size: 20px;
}

.btn_white{
    color: white;
    border: 2px solid white;
}

.btn_gray{
    color: #3A4F52;
    border: 2px solid #3A4F52;

}

/* ********** flex classes *********** */

.flex_space_between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 25px 50px;
}

.flex_row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

}

.flex_column{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 28svw;
    gap: 20px;
}


/* ********** Nav *********** */

h1{
    color: white;
    font-family: "Alegreya-Reg";
    font-size: 2.5rem;
}

h1:hover{
    text-decoration: underline;
}

.burger{
    background-color: white;
    width: 50px;
    height: 10px;
    border-radius: 10px;
    margin: 8px;
}

/* ********** Hero *********** */

#hero{
    background-image: url(../img/bild-hero.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: fill;
    color: white;
    height: 100svh;
}

#title{
    font-family: "Nixie";
    font-size: 6rem;
    text-align: center;
    font-weight: 100;

}

#claim{
    font-family: "Nixie";
    font-size: 2rem;
    font-weight: 800;
    text-align: center;

}


/* ********** Gallery *********** */
#gallery{
    color: #6A6A6A;

}

.gallery_img{

}

.gallery_img:hover{

}

.blue{

}


/* ********** Our Services *********** */
#Our_Services{
    color: white;
}


/* ********** Blog *********** */

#Blog{
    color: #3A4F52;

}



/* ********** bla *********** */

#bla{
    color: white;

}


/* ********** Testimonials *********** */

#Testimonials{
    color: #6A6A6A;

}



/* ********** contact us *********** */

#contact_us{
    color: white;

}

input{
    width: 60svw;
    height: 30px;
    color: white;
    background-color: none;
    border: 1px solid white;
}



/* ********** Footer *********** */

footer{
    background-color: #2B3E51;
    height: 200px;
}

footer>p{
    color: white;
    padding: 5%;
    font-weight: 100;
}